<div class="container">
  <app-headers></app-headers>
  <form (ngSubmit) = "onSubmit()" #userlogin = 'ngForm'>
    <div class="form-group">
    <input type = "text" class="form-control" name = "email" [(ngModel)] = "logindata.email" placeholder="Email" 
    [class.is-invalid]="email.invalid && email.touched"  #email='ngModel' required>
    <small class="req" [class.d-none]="email.valid || email.untouched">Email is required</small> 
  </div>
  <div class="form-group">
    <input type = "password" class="form-control" name = "password" [(ngModel)] = "logindata.password" 
    [class.is-invalid]="password.invalid && password.touched" placeholder="Password" required #password='ngModel'>
    <small class="req" [class.d-none]="password.valid || password.untouched">Password is required</small> 
  </div>
  <div class="form-group">
    <button type = "submit" [disabled]="userlogin.form.invalid" class="btn btn-primary">Login</button>
    <button type = "submit" class="btn btn-success pos" [routerLink]="['signup']" >Sign up</button>
  </div>
  </form>

</div>