<div class="container" *ngIf="!searchpost">
  <app-headers></app-headers>
  <button type = "submit" [routerLink] = "['/postform']">Create own Post</button>
  <button type = "submit" [routerLink] = "['/postform']">Your Post</button>
  <form (ngSubmit) = "searchPost()">
  <div class="form-group">
      <input type= "search" name = "search" class="form-control" [(ngModel)] = "search" placeholder="Search Post">
  </div>
  <div class="form-group">
     <button type="submit">OK</button>
  </div>
</form>
  <h3>Latest Post</h3>
  <table class="table">
    <thead>Post</thead>
    <tbody>
      <tr *ngFor = "let post of posts">
         <td><a role="button" [routerLink]="['/postcomment']" (click)="showPost(post.id)">{{post.posttitle}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container" *ngIf= "searchpost">
    <app-headers></app-headers>
    <h2>Searches related  to"{{search}}"</h2>
    <table class="table">
      <thead>
        Post
      </thead>
      <tr *ngFor = "let post of posts">
        <td><a role="button" [routerLink]="['/postcomment']" (click)="showPost(post.id)">{{post.posttitle}}</a></td>
      </tr>
    </table>
</div>
